
<mat-toolbar>Mi perfil</mat-toolbar>

<mat-card>
  <mat-card-title>
    {{userName}}
  </mat-card-title>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-content>
    <b>Roles:</b>
    <mat-list>
      <mat-list-item *ngFor="let rol of roles"> {{rol}} </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>